/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar {
  font-size: 14px;
  font-weight: 600;
}
/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #952f0a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
  color: #952f0a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 1);
}

/* Mobile Devices Landscape Specific
----------------------------------------*/
@media (min-width: 480px) and (max-width: 767px) {
/* Styles */

}

/*:::PRIMARY:::*//* Landscape phones and down 
---------------------------------------------------------------------*/
@media (max-width: 480px) {
/* Styles */

/*
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0px;
	float: none;
	text-align: center;
}
*/

}

/*:::PRIMARY:::*//* Portrait tablet to landscape and desktop 
------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {


/* iPads (portrait and landscape) 
---------------------------------------------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}

/* iPads (landscape) 
------------------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


}

/* iPads (portrait)
----------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {


}

/* Slidely Wide Desktop Display
------------------------------------*/
@media (min-width: 980px) {


}

/* Large Desktop Displays 
----------------------------------------*/
@media (min-width: 1200px) {


}

/* Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

/* iPad Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (max-device-width: 1024px) {


}

/* iPhone Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
and (max-device-width: 480px) {


}